// Eww colors for Karla rice
$bg: #0E1113;
$bg-alt: #111517;
$fg: #afb1db;
$black: #373542;
$lightblack: #262831;
$red: #e7034a;
$blue: #5884d4;
$cyan: #7df0f0;
$magenta: #7a44e3;
$green: #61b33e;
$yellow: #ffb964;
$archicon: #0f94d2;
